# -------------------------------
# Atom
# -------------------------------
atom/blob-store
atom/compile-cache
atom/dev
atom/packages
atom/storage
atom/.apm
atom/.node-gyp
atom/.npm
atom/nohup.out

# -------------------------------
# Sublime Text
# -------------------------------
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
