# -------------------------------
# Atom
# https://github.com/atom/atom/blob/master/dot-atom/.gitignore
# -------------------------------
atom/blob-store
atom/compile-cache
atom/dev
atom/packages
atom/storage
atom/.apm
atom/.node-gyp
atom/.npm
atom/nohup.out
atom/.atom-socket-secret-*

# -------------------------------
# Sublime Text
# -------------------------------
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
