temp/

# -------------------------------
# Atom
# -------------------------------
atom/blob-store
atom/compile-cache
atom/dev
atom/packages
atom/storage
atom/.apm
atom/.node-gyp
atom/.npm
atom/nohup.out
atom/.atom-socket-secret-*

# -------------------------------
# Cmder
# -------------------------------
cmder/config/.history
cmder/config/settings
cmder/config/Readme.md
cmder/config/user-ConEmu.xml

# -------------------------------
# Sublime Text
# -------------------------------
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt

# -------------------------------
# Visual Studio Code
# -------------------------------
vscode/User/globalStorage
vscode/User/workspaceStorage
