"*":
  "atom-clock":
    locale: "de"
    showClockIcon: true
    showTooltip: true
  "atom-material-ui":
    colors:
      abaseColor: "#7e7e7e"
      predefinedColor: "Grey"
    tabs:
      compactTabs: true
    ui: {}
  core:
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "spell-check"
      "autocomplete-plus"
    ]
    projectHome: "/home/jennifer/Dev"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "fairyfloss"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontSize: 18
    softWrap: true
  "exception-reporting":
    userId: "bac85255-fede-4f33-95e7-dc460694004e"
  "file-icons":
    coloured: false
    tabPaneIcon: false
  "git-diff": {}
  github: {}
  "grammar-selector": {}
  "linter-ui-default":
    showPanel: true
  "markdown-assistant": {}
  "markdown-preview-enhanced": {}
  "markdown-table-editor": {}
  "markdown-writer":
    fileExtension: ".md"
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tool-bar":
    iconSize: "16px"
    position: "Bottom"
  "tree-view":
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
