packages: [
  "atom-clock"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "busy-signal"
  "document-outline"
  "file-icons"
  "intentions"
  "linter"
  "linter-markdown"
  "linter-ui-default"
  "markdown-scroll-sync"
  "markdown-table-editor"
  "package-sync"
  "Zen"
]
